# AlfredPay API Configuration
# Sandbox: https://penny-api-restricted-dev.alfredpay.io/api/v1/third-party-service/penny
# Production: https://api-service-co.alfredpay.app/api/v1/third-party-service/penny
ALFREDPAY_API_KEY=""
ALFREDPAY_API_SECRET=""
ALFREDPAY_BASE_URL="https://penny-api-restricted-dev.alfredpay.io/api/v1/third-party-service/penny"

# Etherfuse API Configuration
ETHERFUSE_API_KEY=""
ETHERFUSE_BASE_URL="https://api.sand.etherfuse.com"

# BlindPay API Configuration
BLINDPAY_API_KEY=""
BLINDPAY_INSTANCE_ID=""
BLINDPAY_BASE_URL="https://api.blindpay.com"

# Transfero API Configuration
TRANSFERO_CLIENT_ID=""
TRANSFERO_CLIENT_SECRET=""
TRANSFERO_SCOPE="2d8357bb-57f9-4b92-a696-6df799687084/.default"
TRANSFERO_API_URL="https://sandbox-api-baasic.transfero.com"
TRANSFERO_API_VERSION="2"
TRANSFERO_DEFAULT_TAX_ID=""
TRANSFERO_DEFAULT_TAX_ID_COUNTRY="BRA"
TRANSFERO_DEFAULT_NAME=""
TRANSFERO_DEFAULT_EMAIL=""

# Webhook secret for verifying AlfredPay webhook signatures
ALFREDPAY_WEBHOOK_SECRET=""

# Stellar Network Configuration
# Use "testnet" for testing, "public" for production
PUBLIC_STELLAR_NETWORK="testnet"
SEP1_SIGNING_KEY_SECRET=""

# USDC Asset Configuration
PUBLIC_USDC_ISSUER="GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
